/*
    custom css for the homepage template
  */

.about-us-page-text {
    font-size: 16px !important;
    line-height: 29px !important;;
}

.input_empty {
	border: 2px solid #DC143C;
	padding-left:35px;
	background: url('/images/exclamation.png') no-repeat scroll 12px 12px;
	background-size: 16px 16px;
}